#portfolio img.portfolio-overlay-item {
        margin: 0px 0px;
        width: 300px;
        height: 200px
    }
    div.info span.bold{
        font-weight: bold;
    }

    div.star{
        float: left;
        display: inline-block;
        margin-left: 8px;
    }

    p.rating{
        float: left;
        display: inline;
    }

    div.photoAction div{
        width: 50%;
        float: left;
    }

    div.photoAction div.right{
        float: right;
        text-align: right;
    }

    div.photoAction div.right a{
        color: #076100
    }

    div.photoAction div.right a:hover{
        color: #2a9122;
    }

    div.photoAction div.right a.red{
        color: #bb0000
    }

    div.photoAction div.right a.red:hover{
        color: #df0000;
    }

    input[type="button"].greenBtn {
        border: 1px solid #0d9602 !important;
        background: #0ecc00 !important;
        background: -moz-linear-gradient(top,  #0ecc00 0%, #0d9602 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0ecc00), color-stop(100%,#0d9602)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #0ecc00 0%,#0d9602 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #0ecc00 0%,#0d9602 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #0ecc00 0%,#0d9602 100%) !important; /* IE10+ */
        background: linear-gradient(top,  #0ecc00 0%,#0d9602 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ecc00', endColorstr='#0d9602',GradientType=0 ) !important; /* IE6-9 */
        text-shadow: #076100 0 1px 0;
    }
    input[type="button"].greenBtn:hover {
        border: 1px solid #0d9602 !important;
        background: #1fe710 !important;
        background: -moz-linear-gradient(top,  #1fe710 0%, #12b704 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fe710), color-stop(100%,#12b704)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #1fe710 0%,#12b704 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #1fe710 0%,#12b704 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #1fe710 0%,#12b704 100%) !important; /* IE10+ */
        background: linear-gradient(top,  #1fe710 0%,#12b704 100%) !important; /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fe710', endColorstr='#12b704',GradientType=0 ) !important; /* IE6-9 */
    }

    li.selAnket div.img{
        position: relative;
    }

    #portfolio li img.selAnket{
        display: none;
    }

    #portfolio li.selAnket img.selAnket{
        position: absolute;
        z-index: 3;
        left: 265px;
        top: 165px;
        display: block;
    }