
#htmlDataBox{
    margin-top: 20px;
    margin-left: 20px;

}

#htmlDataBox .part{
    height: 22px;
}

#htmlDataBox .part td:first-child{
    padding-left: 20px;
}

#sentBtnBox{
    position: absolute;
    display: none;
}

#sentBtnBox img{
	border: 0px ;
}

#partBtnBox img{
	border: 0px ;
}

span.word.osn{
    /*text-decoration: underline;*/
    color: #FF8400;
    font-weight: bold;
}

span.word{
    cursor: pointer;
}

span.word.sec{
    color: #7eb5ca;
    font-weight: bold;
    /*text-decoration: underline;*/
}



img.button{
    cursor: pointer;
}

#partBtnBox{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
}

span.translt{
    font-weight: bold;
}

span.transkr{

}

.highlight{
    background-color: #ffd09d;
}

span.sentence{
    padding-right: 40px;
}

#playerFlashBox{
	text-align:	center;
}

.linkRule, .commentCaption{
	font-weight: bold;
}
/*
#hintBox{
    position: absolute;
    left:  100px;
    top:  100px;
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
    height: 20px;
    background-color: white;
    display: none;
}

#hintBox  img{
	border: 0px ;
}*/


#hintBox { 
	display: none; 
	position: absolute; 
	padding: 2px 8px 2px 8px; 
	left: 0px; 
	font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 11px; 
	height: 19px;
	z-index: 9999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: white;
	background-color: #444;
}

#hintBox >div{
	height: 19px;
}

#hintBox  img{
	border: 0px ;
}

.vTipArrow{
	border-style: solid;
	border-width: 7px;
	height:0;
	width:0;
	position:relative;
	bottom:0px;
	left:10px;
	border-color: #444444 transparent transparent transparent;
}


