/*#lsHeading1,#lsHeading2,#lsHeading3,#lsHeading4{
	font-family: "Dancing Script";
	color:#666666;
}
#lsHeading1{
	font-size:36px;
	line-height:36px;
}
#lsHeading2{
	font-size:36px;
	line-height:36px;
}
#lsHeading3{
	font-size:44px;
	line-height:44px;
}
#lsHeading4{
	font-size:36px;
	line-height:36px;
}

#subHead1, #subHead2, #subHead3, #subHead4{
	font-family: Droid Sans;
	color: #ff8400;
}
#subHead1{
	font-size: 15px;
	line-height: 15px;
}
#subHead2{
	font-size: 14px;
	line-height: 14px;
}
#subHead3{
	font-size: 15px;
	line-height: 15px;
}
#subHead4{
	font-size: 14px;
	line-height: 14px;
}

#lsp1{
	width:280px;
	color:#777;
	font-size:13px;
	line-height:22px;
}
#lsp2{
	width:265px;
	color:#777777;
	font-size:13px;
	line-height:22px;
}
#lsp3,#lsp4,#lsp5,#lsp6{
	font-size:13px;
	line-height:13px;
	color:#888888;
}
#lcdScreen{
	background-image: url(http://themes.curtycurt.com/images/inspired/layerslider/monitor-light-grey.png);
	background-repeat:no-repeat;
}
#ipadScreen{
	background-image: url(http://themes.curtycurt.com/images/inspired/layerslider/ipad-light-grey.png);
	background-repeat:no-repeat;
}
#macbookScreen{
	background-image: url(http://themes.curtycurt.com/images/inspired/layerslider/laptop-light-grey.png);
	background-repeat:no-repeat;
}
#iphoneScreen{
	background-image: url(http://themes.curtycurt.com/images/inspired/layerslider/iphone-light-grey.png);
	background-repeat:no-repeat;
}
*/

/* BODY & BACKGROUND DYNAMIC STYLES */
#backgroundImage{background-image:url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/bg.jpg);background-attachment:fixed;background-position:center top;}
#backgroundPattern{background-image:url(http://theme.codecampus.ru/inspired/images/patterns/light/lightMeshPattern.png);background-repeat:repeat;}
body{
	background-color:#f0f0f0;
	font-size:12px;
	color:#666666;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#topBorder{
	height: 4px;
	background-color: #777777;
}
#wrapper{
	top: 0px;
	margin-bottom: 40px;
	-moz-box-shadow: 0 0 7px #d2d2d2;-webkit-box-shadow: 0 0 7px #d2d2d2;box-shadow: 0 0 7px #d2d2d2;
}
#innerWrap{
	background-color: rgb(255,255,255);
	background-color:rgba(255,255,255,1);
}
#featuredArea{
	background-color: rgb(255,255,255);
	background-color:rgba(255,255,255,1);
}
#featuredHolder{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper,#preHeader,#header{-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;}#wrapper,#postFooter{-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}



/* PRE-HEADER DYNAMIC STYLES */
#preHeader{
	top: 0px;
	height: 40px;
}
#preHeader{
	font-size: 11px;
	color: #aaaaaa;
}
#preHeaderContent{
	height: 40px;
}
#preHeaderContent a, .preHeadPhone{
	color:#777777;
	font-size:	11px;
}
#preHeaderContent a:hover{
	color:#333333;
}
#preHeaderContent ul li a{
	color:#aaaaaa;
	font-size:	10px;
}
#preHeaderContent ul li a:hover{
	color:#333333;
}



/* HEADER DYNAMIC STYLES */
#header{
	height: 173px;
}
#header{ background:rgb(255,255,255); background:rgba(255,255,255,1); }



/* HEADER SOCIAL ICONS */
#headerSocial{
	position:absolute;
	top: 20px;
	right: 20px;
}
.socialIcons li{
	opacity:1;
	filter:alpha(opacity=1);
}
#vtip { 
	color: #ffffff;
	background-color: #444444;
}
.vTipArrow{
	border-color: #444444 transparent transparent transparent;
}



/* HEADER SEARCH BOX */
#headerSearch{
	position:absolute;
	top: 63px;
	right: 20px;
}
#headerSearchDiv{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/searchBg.png); 
}
#headerSearchField{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/searchBgHover.png); 	
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #756B60;
}
#headerSearchSubmit{
	background:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/searchSubmit.png); 
}
.searchTitle{
	font-size: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #ff8400;
}



/* LOGO DYNAMIC STYLES */
#horizontalLogo{
	top: 40px; 
	left: 35px
}



/* MENU / NAVIGATION SETTINGS */

.custom-select select {
	color: #777777;
	background: rgb(249,249,249);
	background: rgba(249,249,249,1);
	border: 1px solid rgb(237,237,237);
	border: 1px solid rgba(237,237,237,1);
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.custom-select select {
		border: 1px solid rgb(237,237,237);
		border: 1px solid rgba(237,237,237,1);
		background: rgb(249,249,249);
		background: rgba(249,249,249,1);
	}
	.custom-select:after {
		background: rgb(237,237,237);
		background: rgba(237,237,237,1);
		color: #777777;
	}
}

#horizontalNavigation{
	padding-left: 30px;
	top: 136px;
	background: rgb(249,249,249);
	background: rgba(249,249,249,1);
	border-top: 1px solid rgb(237,237,237);
	border-top: 1px solid rgba(237,237,237,1);
	border-bottom: 1px solid rgb(237,237,237);
	border-bottom: 1px solid rgba(237,237,237,1);
}


		.sf-menu li {
			border-left: 1px solid rgb(237,237,237);  					
			border-left: 1px solid rgba(237,237,237,1);
		}	
		.sf-menu li li, .sf-menu li:first-child{
			border-left: none;
		}
	
		.sf-menu{
			border-right: 1px solid rgb(237,237,237);  					
			border-right: 1px solid rgba(237,237,237,1);
			border-left: 1px solid rgb(237,237,237);  					
			border-left: 1px solid rgba(237,237,237,1);
		}

		.sf-menu a {
			padding-left: 	28px;
			background-image: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/horizontalNavArrow.png);
			background-repeat: no-repeat;
			background-position: 10px 11px;
		}
	



/* PAGE TITLE DYNAMIC STYLES */
#pageTitle{
	background-color: #f9f9f9;
	border: 1px solid #ebebeb;
}
#sideBar, .contactFormBorder{
	background-color: #fafafa;
	border: 1px solid #f2f2f2;
}
#title h1{
	font-size: 30px;
	color: #555555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
span.subTitle{
	font-size: 14px;
	color: #999999;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sf-menu a, .sf-menu a:visited  {
	font-size: 12px;
	color: #777777;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sf-menu ul li a, .sf-menu ul li a:visited  {
	font-size: 12px;
	color: #999999;
}

.sf-menu li.sfHover a, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.current-menu-parent a{
	color: #333333;
}
.sf-menu li.sfHover, .sf-menu li:hover{
	background-color: rgb(255,255,255);  					
	background-color: rgba(255,255,255,1);
}

.sf-menu li.sfHover li a, .sf-menu li.sfHover li li a, .sf-menu li.sfHover li li li a{
	color: #999999;
}

.sf-menu li.sfHover li{
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,.9);
	border-bottom: 1px solid rgb(237,237,237);
	border-bottom: 1px solid rgba(237,237,237,1);
}

.sf-menu li li:hover, .sf-menu li li li:hover, .sf-menu li li.sfHover, .sf-menu li li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li li a:focus, .sf-menu li li a:hover, .sf-menu li li li a:hover, .sf-menu li li a:active, .sf-menu li li li a:active{
	background-color: rgb(254,254,252);
	background-color: rgba(254,254,252,1);
	color: #555555;
}

.sf-menu li li.sfHover a{
	color: #555555;
}

.sf-menu ul {
	/*border-top: 1px solid rgb(237,237,237);
	border-top: 1px solid rgba(237,237,237,1);*/
	border-left: 1px solid rgb(237,237,237);
	border-left: 1px solid rgba(237,237,237,1);
	border-right: 1px solid rgb(237,237,237);
	border-right: 1px solid rgba(237,237,237,1);
}


/* FOOTER DYNAMIC STYLES */

#footer{ background:rgb(28,28,28); background:rgba(28,28,28,1); }

#footer .smallTitle, #footer  label, #footer .responseTxt{
	color: #848484 !important;
	font-size: 12px;
}
#footer a.smallTitle{
	font-size: 12px;
}
.columnShadow {
	background-image: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/footerShadow.png);
}

#postFooter{
	background: rgb(58,58,58);
	background: rgba(58,58,58,1);
}
#postFooterContent #copyright p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 10px;
	color: #999999;
}
#postFooterContent a{
	color: #999999;
	font-size: 11px;
}
#postFooterContent a:hover{
	color: #cccccc;
}




/* TYPOGRAPHY DYNAMIC STYLES */
h1 {	
	font-size:22px;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
	font-size:20px;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2 a{
	color:#555555;
}
h3 {	
	font-size:18px;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4 {
	font-size:16px;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h5 {
	font-size:14px;
	color:#ff8400;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h6 {
	font-size:12px;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
p{
	font-size:12px;
	color:#666666;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
	font-size:12px;
	color:#ff8400;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a:hover{
	color:#333333;
}
.fancyBoxLight a{
	color: #ff8400;
}
.fancyBoxLight a:hover, .fancyBoxLight li:hover a, .fancyBoxLight li.current a{
	color: #333333;
}
#breadcrumbs{
	color:#333333;
}
#breadcrumbs a{
	font-size:12px;
	color:#ff8400;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#breadcrumbs a:hover{
	color:#333333;
}
#footer h3 {	
	color:#848484;
	font-size:16px;
}
#footer{
	color:#666666;
	font-size:12px;
}
#footer p{
	color:#666666;
	font-size:12px;
}
#footer a{
	color:#888888;
	font-size:12px;
}
#footer a:hover{
	color:#cccccc;
}

/* Blog Post DYNAMIC STYLES */
.post-title h1{
    font-size: 18px;
}
.post-comments{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/postBubbles.png); 
}
.post-comments a{
	color: #ffffff;
}
.post-comments a:hover{
	color: #ffffff;
}
.post-meta, .post-tags{
	color: #999999;
	font-size: 11px;
}
.post-meta a, .post-tags a{
	color:#ff8400;
	font-size: 11px;
}
.post-meta a:hover, .post-tags a:hover{
	color:#333333;
}
.post-tags a{
	border: 1px solid #f1f1f1;
}

/* Image Frames DYNAMIC STYLES */
.imagePreloader, .nivoPreloader, .kwicksPreloader, .anythingVimeo, .flexWrapper{
	background-color: #dddddd;
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/preloader.gif); 
}
.smallBorder, .fancy, .nivo-controlNav img{
	border: 1px solid rgb(204,204,204);
	border: 1px solid rgba(204,204,204,.5);
	background: rgb(255,255,255);
	background: rgba(255,255,255,.2);
}
.mediumBorder{
	border: 1px solid rgb(204,204,204);
	border: 1px solid rgba(204,204,204,.5);
	background: rgb(255,255,255);
	background: rgba(255,255,255,.2);
}
#innerWrap .fancy, .comment-gravatar img, #featuredArea .fancy{
	border: 1px solid rgb(204,204,204);
	border: 1px solid rgba(204,204,204,.5);
	background: rgb(255,255,255);
	background: rgba(255,255,255,.2);
}
#footer .smallBorder, #footer .fancy{
	border: 1px solid rgb(28,28,28);
	border: 1px solid rgba(28,28,28,1);
	background: rgb(28,28,28);
	background: rgba(28,28,28,1);
}



/* INSPIRED SideBar Widget Dynamic Styles */

/* Custom Contact Info Widget Styles */
#sideBar .sideHome, #footer .sideHome{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/sideHomeIcon.png);
}
#sideBar .sidePhone, #footer .sidePhone{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/sidePhoneIcon.png);
}
#sideBar .sideHours, #footer .sideHours{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/sideClockIcon.png);
}
#footer .sideHome{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/altHomeIcon.png);
}
#footer .sidePhone{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/altPhoneIcon.png);
}
#footer .sideHours{
	background: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/altClockIcon.png);
}
#sideBar h3{
	font-size:15px;
	color:#555555;
}
#sideBar p{
	color:#999999;
	font-size: 12px;
}
#sideBar a{
	color:#ff8400;
	font-size: 12px;
}
#sideBar a:hover{
	color:#555555;
}
#sideBar .smallTitle, #sideBar label, #sideBarWidgets .responseTxt{
	color: #777777 !important;
	font-size: 12px;
}
#sideBar a.smallTitle{
	font-size: 12px;
}
.tweet_odd, .tweet_even{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/twitterIcon.png); 
}
#footer .tweet_odd, #footer .tweet_even{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/twitterIcon2.png); 
}



/*-------------------------------------------------------*/
/*              Wordpress Widgets -sidbar -footer        */
/*-------------------------------------------------------*/

/*	Categories, Recent Comments, Pages, Archives, Recent Entries, Links, Nav Menu, Meta Widgets */
#sideBar .widget_categories li, #footer .widget_categories li,
#sideBar .widget_recent_comments li, #footer .widget_recent_comments li,
#sideBar .widget_pages li, #footer .widget_pages li,
#sideBar .widget_archive li, #footer .widget_archive li,
#sideBar .widget_recent_entries li, #footer .widget_recent_entries li,
#sideBar .widget_links li, #footer .widget_links li,
#sideBar .widget_nav_menu li, #footer .widget_nav_menu li,
#sideBar .widget_meta li, #footer .widget_meta li,
#sideBar .widget_rss li, #footer .widget_rss li{
	background-image: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/mini-arrow.png); 
}
#sideBar .widget_categories li a,
#sideBar .widget_recent_comments li a,
#sideBar .widget_pages li a,
#sideBar .widget_archive li a,
#sideBar .widget_recent_entries li a,
#sideBar .widget_links li a,
#sideBar .widget_nav_menu li a,
#sideBar .widget_meta li a,
#sideBar .widget_rss a{
	font-size: 12px;
}
#footer .widget h3{
	border-bottom: 1px dotted #4e4e4e;
}
#footer .widget_categories li a,
#footer .widget_recent_comments li a,
#footer .widget_pages li a,
#footer .widget_archive li a,
#footer .widget_recent_entries li a,
#footer .widget_links li a,
#footer .widget_nav_menu li a,
#footer .widget_meta li a,
#footer .widget_rss a{
	font-size: 12px;
}
#sideBar .widget_rss h3 a{
	font-size:15px;
}
#footer .widget_rss h3 a{
	font-size:16px;
	color: #848484;
}
#sideBar .widget_pages li ul li, #sideBar .widget_nav_menu li ul li{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/super-mini-arrow.png); 
}
#footer .widget_pages li ul li, #footer .widget_nav_menu li ul li{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/super-mini-arrow.png); 
}
#sideBar .widget_pages li ul li a, #sideBar .widget_nav_menu li ul li a{
	font-size: 11px;
}
#sideBar .widget_pages li ul li ul li a, #sideBar .widget_nav_menu li ul li ul li a{
	font-size: 10px;
}
#footer .widget_pages li ul li a, #footer .widget_nav_menu li ul li a{
	font-size: 11px;
}
#footer .widget_pages li ul li ul li a, #footer .widget_nav_menu li ul li ul li a{
	font-size: 10px;
}
#sideBarWidgets .recentComment, #sideBarWidgets .widget_recent_comments li, #footer .recentComment, #footer .widget_recent_comments li{
	background-image: url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/sideCommentIcon.png); ;
}

/* Wordpress Search Widget */
#searchform div{
	background-image: url(http://theme.codecampus.ru/inspired/images/searchBg.png); 
}
#s{
	background-image: url(http://theme.codecampus.ru/inspired/images/searchBgHover.png); 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #aaaaaa;
}
#searchsubmit{
	background-image: url(http://theme.codecampus.ru/inspired/images/submitBg.png); 
}

/* Wordpress Tag Cloud Widget */
.tagcloud a{
	background-color: #fcfcfc;
	border: 1px solid #f1f1f1;
}
.tagcloud a:hover{
	background-color: #ffffff;
}



/*-------------------------------------------------------*/
/*                     Shortcodes       	             */
/*-------------------------------------------------------*/

/* Horizontal Rule Shortcode */
.horizontalRule, #sideBar .widget, .toggleWrapper, .comment-wrapper{
	border-bottom: 1px dotted rgb(228,228,228);
}

/* Toggle Shortcode */
.toggleText.up{
	background-image:  url(http://theme.codecampus.ru/inspired/images/toggleUp.png); 
}
.toggleText.down{
	background-image:  url(http://theme.codecampus.ru/inspired/images/toggleDown.png); 
}

/* Code Shortcode */
.code {
    background:  url(http://theme.codecampus.ru/inspired/images/codeBg.png); 
}

/* Quotes Shortcodes */
.blockQuote, .testimonialQuote{
	background-image:  url(http://theme.codecampus.ru/inspired/images/skins/light-grey-orange/quotationMarks.png); 
}
.pullQuote{
	border-left: 4px solid #e8e8e8;
}
.blockQuote, .pullQuote{
	font-size:20px;
	color:#ff8400;
	font-family:Georgia,"Times New Roman",Times,serif;;
}

.portfolioTitle, .portfolioTitle a{
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
font-family: "Droid Sans";
}
.dropcapSmall, .dropcapMedium, .dropcapLarge{
font-family: "Droid Serif";
}
#title h1, .special, .searchTitle{
font-family: "Dancing Script", cursive;
}
