#sliderMenu {
    margin: 5px auto;
    width: 460px;
	
}
#promo-tabs {
    clear: both;
    float: left;
    margin: 0 0 0px 0px;
}
#promo-tabs ul {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 20px;
}
#promo-tabs ul ul {
    display: none;
}
#promo-tabs li {
    display: inline;
}
#promo-tabs img {
    color: #666666;
    display: block;
    float: left;
    font-size: 12px;
    margin: 3px 10px 0;
    text-decoration: none;
}
#promo-tabs a {
    color: #666666;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    min-width: 128px;
    text-decoration: none;
}
#promo-tabs a:hover {
    color: #000000;
    text-decoration: none;
}
#promo-tabs a.off:hover {
    color: #000000;
    text-decoration: none;
}
#promo-tabs a span {
    font-size: 18px;
    line-height: 14px;
    text-transform: uppercase;
}
#promo-tabs a.on {
	border-radius: 6px 6px 6px 6px;
    background: url("http://theme.codecampus.ru/fusion/images/slidermenu/tab-1-on-a.png") repeat scroll 0 0 transparent;
	background: none repeat scroll 0 0 #222222;
    color: #B4B4B4;
    height: 61px;
}
#promo-tabs a.off {
    background: none repeat scroll 0 0 transparent;
    color: #666666;
    height: 61px;
}
#promo-tabs a div {
    padding: 14px 0 0 20px;
}
#promo-tabs a.on div {
    padding: 14px 0 0 20px;
}